body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
}
header {
  display: flex;        
  justify-content: space-between; 
  align-items: center; 
  padding: 0 20px;     
  width: 100%;
}
.logo {
  position: relative;
  left: 18%;
  font-family: Noto Sans JP;
  font-size: 34px;
  font-weight: 700;
  border: 1px solid #000000;
  letter-spacing: 0.04em;
  padding: 1px 22px;
  margin: 32px auto 32px 16px;
}
.nav-pc {
  position: relative;
  right: 18%;
  margin: 33px 16px 33px auto;
  font-size: 34px;
}
.nav-pc ul {
  display: flex;
}
.nav-pc a {
  text-decoration: none;
  margin-left: 18px;
  color: #000000;
  font-weight: 700;
}
/*main-photo*/
.main-photo {
  max-width: 100%;
  margin: 0 auto;
}
.camera {
  width: 100%;
  height: auto;
}
/*main-message*/
.main-message {
  text-align: center;
  width: 820px;
  height: 402px;
  position: relative;
  left: 22%;
  margin-top: 5%;
}
.picture-message {
  display: flex;
}
.about {
  font-family: Noto Sans JP;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.picture {
  border-radius: 140px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.message {
  position: relative;
  left: 401px;
  top: 123px;
}
.message h2 {
  text-align: left;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-size: 24px;
}
.message ul {
  list-style-position: inside;
  position: absolute;
  top: 53px;
  left: 14px;
  text-align: left;
}
.message li {
  list-style: disc;
  font-size: 18px;
}

