/*編集前の設定*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Arial', 'Microsoft Yahei', sans-serif;
  color: #333;
  line-height: 1.5;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(240, 240, 240, 1);
}
/**/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
}
.nav-pc ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-pc li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  margin-right: 30px;
}
.nav-pc ul {
  margin-left: 60px;
}
.contact {
  color: white;
  background-color: black;
  padding: 33px 64px 29px 64px;
}
/*main*/
main {
  width: 100%;
  margin: 0;
  padding: 0;
}
/*main-img*/
.first-photo {
  width: 100%;
  display: block;
}
/*first-container*/
.first-container {
  margin: 120px auto 0;
  max-width: 940px;
}
/*news*/
.news {
  text-align: left;
}
.news h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.news li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
.news li:nth-child(2) {
  text-decoration: underline;
  margin-top: 15px;
}
/*news-message*/
.news-message {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 60px;
}
.news-message a:nth-child(1) {
  padding-right: 79px;
  border-right: 1px solid black;
}
.news-message a:nth-child(2) {
  padding-right: 79px;
  border-right: 1px solid black;
  margin-left: 20px;
}
.news-message a:nth-child(3) {
  margin-left: 20px;
}
.news-message p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.5;
}
.message-span {
  color: white;
  background-color: black;
  padding: 0 6px;
}
/*second-container*/
.second-container {
  display: flex;
  gap: 70px;
  margin: 120px auto 0;
}
#item01 {
  flex-basis: 61%;
  align-self: flex-start;
  margin-bottom: 118px;
}
#item01 img {
  width: 100%;
  
}
#item02 {
  flex-basis: 39%;
  align-self: flex-end;
}
.about-message {
  text-align: left;
}
.about-message h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 5px;
}
.about-message li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
.about-message li:nth-child(2) {
  text-decoration: underline;
  margin-top: 15px;
}
.about {
  margin-bottom: 50px;
}
.about h2 {
  margin-bottom: 10px;
}
.message p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.2;
}
/*third-container*/
.third-container {
  display: flex;
  flex-direction: column;
  margin: 120px auto 0;
  max-width: 900px;
}
.business {
  text-align: left;
}
.business-LR {
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
  gap: 64px;
}
.business-L {
  margin-top: 80px;
}
.picture {
  margin-top: 50px;
}
.business-LR p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 10px;
}
.business h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.business li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
.business li:nth-child(2) {
  text-decoration: underline;
  margin-top: 15px;
}
/*forth-container*/
.forth-container {
  max-width: 1082px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 120px auto;
}
.company-messages {
  position: relative;
  z-index: 1;
  max-width: 567px;
  background-color: white;
  padding: 100px 139px 100px 62px;
}
.address-message {
  margin-top: 50px;
}
.address-message li {
  display: flex;
  text-align: left;
  gap: 29px;
}
.address-message p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2.5;
  font-family: Hiragino Kaku Gothic ProN;
}
.forth-container img {
  position: absolute;
  max-width: 547px;
  z-index: 10;
  right: 0;
}
.company h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.company li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
.company li:nth-child(2) {
  text-decoration: underline;
  margin-top: 15px;
}
/*footer*/
footer {
  max-width: 100%;
  width: 100%;
  background-color: white;
  padding: 40px 200px 20px 200px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top p {
  font-family: Hiragino Kaku Gothic ProN;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}
.footer-bottom {
  font-size: 10px;
  font-weight: 300;
  line-height: 1.5;
}
.first-photo-mb {
  display: none;
}
.about-mb {
  display: none;
}
.footer-photo-mb {
  display: none;
}
@media screen and (max-width: 1023px) {
  .forth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .company-messages {
    width: 100%;
    justify-content: center;
    text-align: left;
  }
  .address-message li {
    text-align: left;
    gap: 10px;
  }
  .forth-container img {
    position: static;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px){
  .third-container {
    margin: auto 16px;
  }
  .business-LR {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    width: 100%;
    gap: 30px;
  }
  .business-L {
    margin-top: 0;
  }
  .picture {
    margin-top: 30px;
  }
  .business-LR img {
    width: 100%;
    max-width: 100%;
  }
  .business-LR p {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 430px) {
  .first-photo {
    display: none;
  }
  .first-photo-mb {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .about-pc {
    display: none;
  }
  .about-mb {
    display: block;
    width: 100%;
    max-width: 100%;

  }
  .footer-photo-pc {
    display: none;
  }
  .footer-photo-mb {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }
  header button {
    display: none;
  }
/**/
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 16px;
    max-width: 100%;
    width: 100%;
  }

  .logo-nav {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;

    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }

  .logo-nav h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .nav-pc ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
  }

  .nav-pc li {
    font-size: 14px;
    font-weight: 300;
    margin-right: 15px;
  }
  footer {
    padding: 0;
  }
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 48px;
    padding-left: 16px;
  }
  .footer-top p {
    margin-top: 10px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
  }
  .footer-bottom {
    margin-top: 40px;
    margin-left: 16px;
  }






/**/
  header img{
    max-width: 80px;
  }
  .second-container {
    flex-direction: column;
  }
  .news-message {
    flex-direction: column;
  }
  #item01 {
    max-width: 100%;
    width: 100%;
    margin-bottom: 0;

  }
  #item02 {
    margin:30px 16px 0 16px
  }
  .second-container {
    gap: 0;

  }
  .forth-container {
    margin:120px auto 0;
  }
  .forth-container img {
    margin-bottom: 0;
  }
  /*company*/
  .company-messages {
    padding: 40px 20px;
    margin-bottom: 20px;
  }
  .forth-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .address-message li {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 300;
  }
  .address-message p:nth-child(2) {
    margin-left: 10px;
  }
  .third-container {
    margin-top: 80px;
  }
  /*first-container*/
  .first-container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .news-message a:nth-child(1) {
    border: 0;
    padding: 0;
  }
  .news-message a:nth-child(2) {
    margin-left: 0;
    border: 0;
    padding: 0;
  }
  .news-message a:nth-child(3) {
    margin-left: 0;
  }
  .news-message {
    margin-top: 44px;
    gap: 30px;
  }
  .nav-pc ul {
    display: flex;
    max-width: 100%;
    width: 100%;
    gap: 24px;
  }
  .nav-pc li {
    margin-right: 0;
  }
}